-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: immogen
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `estimated_houses`
--

DROP TABLE IF EXISTS `estimated_houses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estimated_houses` (
  `user_id` int DEFAULT NULL,
  `created_at` varchar(255) NOT NULL,
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `price` float DEFAULT NULL,
  `ai_price` float DEFAULT NULL,
  `property_condition` varchar(255) DEFAULT NULL,
  `construction_year` int DEFAULT NULL,
  `renovation` tinyint(1) DEFAULT NULL,
  `renovation_year` int DEFAULT NULL,
  `renovation_price` float DEFAULT NULL,
  `price_per_m2` float DEFAULT NULL,
  `build_price` float DEFAULT NULL,
  `demolition_price` float DEFAULT NULL,
  `grade_of_finish` varchar(255) DEFAULT NULL,
  `current_year` int DEFAULT NULL,
  `abex_current_year` float DEFAULT NULL,
  `abex_renovation_year` float DEFAULT NULL,
  `correction_percentage` float DEFAULT NULL,
  `house_unusable` tinyint(1) DEFAULT NULL,
  `country` varchar(255) NOT NULL,
  `province` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `postal_code` varchar(255) NOT NULL,
  `street` varchar(255) NOT NULL,
  `street_number` varchar(255) NOT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL,
  `distance_to_center` float NOT NULL,
  `neighborhood_safety` int NOT NULL,
  `bedrooms` int DEFAULT NULL,
  `bedroom_1_area` float DEFAULT NULL,
  `bedroom_2_area` float DEFAULT NULL,
  `bedroom_3_area` float DEFAULT NULL,
  `bedroom_4_area` float DEFAULT NULL,
  `bedroom_5_area` float DEFAULT NULL,
  `bedroom_6_area` float DEFAULT NULL,
  `area` float DEFAULT NULL,
  `livable_area` float DEFAULT NULL,
  `living_room_area` float DEFAULT NULL,
  `veranda` tinyint(1) DEFAULT NULL,
  `veranda_area` float DEFAULT NULL,
  `attic` tinyint(1) DEFAULT NULL,
  `attic_area` float DEFAULT NULL,
  `basement` tinyint(1) DEFAULT NULL,
  `basement_area` float DEFAULT NULL,
  `garage` tinyint(1) DEFAULT NULL,
  `garage_area` float DEFAULT NULL,
  `number_of_garages` int DEFAULT NULL,
  `number_of_parking_spaces` int DEFAULT NULL,
  `furnished` tinyint(1) DEFAULT NULL,
  `kitchen_area` float DEFAULT NULL,
  `kitchen_equipment` varchar(255) DEFAULT NULL,
  `bathrooms` int DEFAULT NULL,
  `number_of_shower_cabins` int DEFAULT NULL,
  `number_of_baths` int DEFAULT NULL,
  `number_of_toilets` int DEFAULT NULL,
  `epc` varchar(255) DEFAULT NULL,
  `heating_type` varchar(255) DEFAULT NULL,
  `glass_type` varchar(255) DEFAULT NULL,
  `solar_panels` tinyint(1) DEFAULT NULL,
  `solar_panel_area` float DEFAULT NULL,
  `elevator` tinyint(1) DEFAULT NULL,
  `wheelchair_accessible` tinyint(1) DEFAULT NULL,
  `number_of_facades` int DEFAULT NULL,
  `facade_width` float DEFAULT NULL,
  `floor` int DEFAULT NULL,
  `number_of_floors` int DEFAULT NULL,
  `terrace` tinyint(1) DEFAULT NULL,
  `terrace_area` float DEFAULT NULL,
  `plot_depth` float DEFAULT NULL,
  `terrace_front_width` float DEFAULT NULL,
  `sewer_connection` tinyint(1) DEFAULT NULL,
  `water_connection` tinyint(1) DEFAULT NULL,
  `gas_connection` tinyint(1) DEFAULT NULL,
  `swimming_pool` tinyint(1) DEFAULT NULL,
  `swimming_pool_area` float DEFAULT NULL,
  `garden` tinyint(1) DEFAULT NULL,
  `garden_area` float DEFAULT NULL,
  `source` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `estimated_houses_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estimated_houses`
--

LOCK TABLES `estimated_houses` WRITE;
/*!40000 ALTER TABLE `estimated_houses` DISABLE KEYS */;
/*!40000 ALTER TABLE `estimated_houses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scrape_houses`
--

DROP TABLE IF EXISTS `scrape_houses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scrape_houses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `price` int DEFAULT NULL,
  `property_condition` varchar(255) DEFAULT NULL,
  `construction_year` int DEFAULT NULL,
  `country` varchar(255) NOT NULL,
  `province` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `postal_code` varchar(255) NOT NULL,
  `street` varchar(255) NOT NULL,
  `street_number` varchar(255) NOT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL,
  `distance_to_center` float NOT NULL,
  `neighborhood_safety` int NOT NULL,
  `bedrooms` int DEFAULT NULL,
  `bedroom_1_area` float DEFAULT NULL,
  `bedroom_2_area` float DEFAULT NULL,
  `bedroom_3_area` float DEFAULT NULL,
  `bedroom_4_area` float DEFAULT NULL,
  `bedroom_5_area` float DEFAULT NULL,
  `bedroom_6_area` float DEFAULT NULL,
  `area` float DEFAULT NULL,
  `livable_area` float DEFAULT NULL,
  `living_room_area` float DEFAULT NULL,
  `veranda` tinyint(1) DEFAULT NULL,
  `veranda_area` float DEFAULT NULL,
  `attic` tinyint(1) DEFAULT NULL,
  `attic_area` float DEFAULT NULL,
  `basement` tinyint(1) DEFAULT NULL,
  `basement_area` float DEFAULT NULL,
  `garage` tinyint(1) DEFAULT NULL,
  `garage_area` float DEFAULT NULL,
  `number_of_garages` int DEFAULT NULL,
  `number_of_parking_spaces` int DEFAULT NULL,
  `furnished` tinyint(1) DEFAULT NULL,
  `kitchen_area` float DEFAULT NULL,
  `kitchen_equipment` varchar(255) DEFAULT NULL,
  `bathrooms` int DEFAULT NULL,
  `number_of_shower_cabins` int DEFAULT NULL,
  `number_of_baths` int DEFAULT NULL,
  `number_of_toilets` int DEFAULT NULL,
  `epc` varchar(255) DEFAULT NULL,
  `heating_type` varchar(255) DEFAULT NULL,
  `glass_type` varchar(255) DEFAULT NULL,
  `solar_panels` tinyint(1) DEFAULT NULL,
  `solar_panel_area` float DEFAULT NULL,
  `elevator` tinyint(1) DEFAULT NULL,
  `wheelchair_accessible` tinyint(1) DEFAULT NULL,
  `number_of_facades` int DEFAULT NULL,
  `facade_width` float DEFAULT NULL,
  `floor` int DEFAULT NULL,
  `number_of_floors` int DEFAULT NULL,
  `terrace` tinyint(1) DEFAULT NULL,
  `terrace_area` float DEFAULT NULL,
  `plot_depth` float DEFAULT NULL,
  `terrace_front_width` float DEFAULT NULL,
  `sewer_connection` tinyint(1) DEFAULT NULL,
  `water_connection` tinyint(1) DEFAULT NULL,
  `gas_connection` tinyint(1) DEFAULT NULL,
  `swimming_pool` tinyint(1) DEFAULT NULL,
  `swimming_pool_area` float DEFAULT NULL,
  `garden` tinyint(1) DEFAULT NULL,
  `garden_area` float DEFAULT NULL,
  `source` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_scrape_houses_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=441 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scrape_houses`
--

LOCK TABLES `scrape_houses` WRITE;
/*!40000 ALTER TABLE `scrape_houses` DISABLE KEYS */;
/*!40000 ALTER TABLE `scrape_houses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `hashed_password` varchar(255) NOT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `is_admin` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'flor','flor@example.com','$2b$12$XyYG9seAZv/Y1.qrXsIT1ueM4yE4qdlfj5qyMZ19guz.YsuVgpRpK',1,1),(2,'kaas','kaas@kaas.com','$2b$12$x75ggyPedSAN.zCJ9kZKjON5BWo3uN54Q/m9i.ciurM8yMXmvcedC',1,0);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-11 12:34:36
