
:root {
  --background-color: linear-gradient(135deg, #fef3f0 0%, #f0f9ff 100%);
  --text-color: #333;
  --text-colot-white: #ffffff;
  --button-bg-color: #296dff;
  --inputfield-bg-color: #7ba5ff;
  --button-border-hover-color: #000dff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --background-color: #121212;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-colot-white: #ffffff;
  
  --button-bg-color: #1a1a1a;
  --inputfield-bg-color: #7ba5ff;
  --button-border-hover-color: #000dff;
} 

/* components */
a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* body */
#root {
  margin: 0.51rem;
  border-radius: 0.5rem;
  min-height: 100vh;
  min-width: 90%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  padding: 2em;
}



/* buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-border-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.calculate-button {
  background-color: #296dff;
}

.calculate-button:hover{
  background-color: #000dff ;
  transition: 350ms ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Algemene navbar-styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--text-colot-white);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  z-index: 999;
}

.logo-text {
    color: #333;
    font-weight: 700;
}

.logo::before {
    margin-right: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.close-icon {
  display: none;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #333;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* Hamburger icon styling */
.burger-icon {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.burger-icon span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 5px;
}


/* Mobile menu styling */
.nav-links.open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  display: flex;
}


/* Responsive styling */
@media (max-width: 768px) {
  .burger-icon {
    display: flex;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    cursor: pointer;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .nav-links.open {
    display: flex;
  }
}



/* map */

.map-container {
  width: 100%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #7ea6fd00, #000dff53);
  padding: 0.5rem;
}

.map-title {
  padding: 1.5rem;
}

.map-text {
  font-size: 1em;
}

.map-buttons {
  position: absolute;
  top: 22rem;
  left: 1.5rem;
  margin: 0; /* Verwijder de huidige margin */
  z-index: 10; /* Zorg dat de knoppen boven de kaart liggen */
  display: flex;
  gap: 1rem;
}


.map{
  height: 500px;
  margin: 2rem 0 0 0;

}

.map canvas {
  border-radius: 10px;
}

.houseMap {
  width: 100%;
  height: 300px;
  border-radius: 8px; 
  margin-top: 16px;
}






/* forms */
.form {
  max-width: 516px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 kolommen van gelijke breedte */
  gap: 1rem; /* Ruimte tussen de elementen */
  align-items: center; /* Verticale uitlijning */
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.grid-container-bedroom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 kolommen van gelijke breedte */
  gap: 1rem; /* Ruimte tussen de elementen */
  align-items: center; /* Verticale uitlijning */
  margin-bottom: 0.5rem;

}

.grid-container-extra {
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* 3 kolommen van gelijke breedte */
  align-items: center; /* Verticale uitlijning */
  margin-bottom: 0.5rem;
}

select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
}

input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--inputfield-bg-color);
}
input:focus {
  background-color: var(--button-bg-color);
}
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

option {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
}
option:hover {
  background-color: var(--button-border-hover-color);
}