
:root {
  --background-color: linear-gradient(135deg, #fef3f0 0%, #f0f9ff 100%);
  --background-color-rev: linear-gradient(135deg, #f0f9ff 0%, #fef3f0 100%);
  --background-color-hover: #555;
  --text-color: #333;
  --mid-gray: #555;
  --text-colot-gray: #666;
  --text-colot-white: #ffffff;


  --primair-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --primair-gradient-hover: linear-gradient(135deg, #2a3876 0%, #3d1b5e 100%);
  --primair-blue: #6662d0;
  
  /* --primair-gradient: linear-gradient(135deg, #296dff 0%, #f7931e 100%);
  --primair-gradient-hover: linear-gradient(135deg, #163d93 0%, #a26117 100%);
    --primair-blue: #296dff; */
  --primair-orange: #f7931e;
  --inputfield-bg-color: #7ba5ff;
  --button-border-hover-color: #000dff;
  --navbar-bg-color: rgba(255, 255, 255, 0.8);

  /* dashboard */
  --backgroundcolor-dashboard: linear-gradient(135deg, #fef3f0 0%, #f0f9ff 100%);
  --backgroundcolor-dashboard-rev: linear-gradient(135deg, #f0f9ff 0%, #fef3f0 100%);
  --backgroundcolor-dashboard-dark: linear-gradient(135deg, #160700 0%, #000000 50%, #00103a 100%);
  --backgroundcolor-dashboard-dark-rev: linear-gradient(135deg, #00103a 0%, #000000 50%, #160700 100%);
  --backgroundcolor-dashboard-hover: #555;
  --backgroundcolor-dashboard-dark-hover: #000dff;
  --text-color-dashboard: #333;
  --text-color-dashboard-dark: rgba(255, 255, 255, 0.6);
  --text-color-dashboard-gray: #666;
  --backgroundcolor-fields: #fffefc;
  --backgroundcolor-fields-border: #f0f0f0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --background-color: linear-gradient(135deg, #160700 0%, #000000 50%, #00103a 100%);
  --background-color-rev: linear-gradient(135deg, #00103a 0%, #000000 50%, #160700 100%);
  --text-color: rgba(255, 255, 255, 0.87);
  --text-colot-gray: rgba(255, 255, 255, 0.6);
  --inputfield-bg-color: #7ba5ff;
  --navbar-bg-color: rgba(0, 0, 0, 0.8);

  /* dashboard */
  --backgroundcolor-dashboard: linear-gradient(135deg, #160700 0%, #000000 50%, #00103a 100%);
  --backgroundcolor-dashboard-rev: linear-gradient(135deg, #00103a 0%, #000000 50%, #160700 100%);
  --backgroundcolor-dashboard-dark: linear-gradient(135deg, #fef3f0 0%, #f0f9ff 100%);
  --backgroundcolor-dashboard-dark-rev: linear-gradient(135deg, #f0f9ff 0%, #fef3f0 100%);
  --backgroundcolor-dashboard-hover: #000dff;
  --backgroundcolor-dashboard-dark-hover: #555;
  --text-color-dashboard: rgba(255, 255, 255, 0.87);
  --text-color-dashboard-dark: #666;
  --text-color-dashboard-gray: rgba(255, 255, 255, 0.6);
  --backgroundcolor-fields: #1a1a1a;
  --backgroundcolor-fields-border: #2a2a2a;

  

  
}



/* components */
a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

/* body */
#root {
  border-radius: 0.5rem;
  min-height: 100vh;
  text-align: center;
  min-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Verberg scrollbar op de landingpage */
body, html {
    -ms-overflow-style: none;     /* IE en Edge */
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;                /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
  color: var(--text-color);
  /* background: var(--background-color); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--background-color);
}

/* buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primair-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-border-hover-color);
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.calculate-button {
  background-color: #296dff;
}

.calculate-button:hover{
  background-color: #000dff ;
  transition: 350ms ease-in-out;
}


/* Algemene navbar-styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  position: sticky;
  width: 80%;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  z-index: 999;
}

.logo-text {
    color: var(--text-color);
    font-weight: 700;
}

.logo-text:hover{
  color: var(--primair-orange);
}

.logo::before {
    margin-right: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.close-icon {
  display: none;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--text-color);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* Hamburger icon styling */
.burger-icon {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.burger-icon span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 5px;
}


/* Mobile menu styling */
.nav-links.open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  display: flex;
}


/* Responsive styling */
@media (max-width: 768px) {
  .burger-icon {
    display: flex;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    cursor: pointer;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .nav-links.open {
    display: flex;
  }
}



/* map */

.map-container {
  width: 100%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #7ea6fd00, #000dff53);
  padding: 0.5rem;
}

.map-title {
  padding: 1.5rem;
}

.map-text {
  font-size: 1em;
}

.map-buttons {
  position: absolute;
  top: 22rem;
  left: 1.5rem;
  margin: 0; /* Verwijder de huidige margin */
  z-index: 10; /* Zorg dat de knoppen boven de kaart liggen */
  display: flex;
  gap: 1rem;
}

.map-buttons-form {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  margin: 0; /* Verwijder de huidige margin */
  z-index: 10; /* Zorg dat de knoppen boven de kaart liggen */
  display: flex;
  gap: 1rem;
}


.map{
  height: 500px;
  margin: 2rem 0 0 0;

}

.map canvas {
  border-radius: 10px;
}

.houseMap {
  width: 100%;
  height: 300px;
  border-radius: 8px; 
  margin-top: 16px;
}






